### Java & Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/timing.properties
dependency-reduced-pom.xml
build.log
*.class

### IntelliJ IDEA
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iml
*.iws
*.ipr
out/

### Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code
.vscode/

### OS-specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

### Logs & temp files
*.log
*.tmp
*.swp
*.swo

### Custom project files
library.dat
